site:
  title: 'SUSE® Rancher Prime: Observability'
  start_page: next@observability:en:README.adoc

content:
  sources:
    - url: ./
      branches: [HEAD]
      start_paths: [shared, docs/next, docs/version-*]

ui:
  bundle:
    url: https://github.com/SUSEdoc/dsc-style-bundle/blob/main/default-ui/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./dsc-style-bundle/supplemental-files/rancher

asciidoc:
  attributes:
    ss-build-type: 'product' # 'community' or 'product'
    ss-rancher-product-name: 'SUSE® Rancher Prime: Observability'
    ss-rancher-product-short-name: 'SUSE® Observability'
    ss-community-product-name: 'StackState'
    page-pagination: ''
    tabs-sync-option: ''
  extensions:
    - '@asciidoctor/tabs'

antora:
  extensions:
    - require: '@antora/lunr-extension'
      index_latest_only: true
    - require: '@sntke/antora-mermaid-extension'
      mermaid_library_url: https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs # <2>
      script_stem: header-scripts # <3>
      mermaid_initialize_options: # <4

output:
  dir: build/site
