site:
  title: 'SUSE® Rancher Prime: Observability'
  start_page: latest@suse-observability:en:classic.adoc

content:
  sources:
    - url: ./
      branches: [HEAD]
      start_paths: [shared, docs/latest, docs/version-*]

ui:
  bundle:
    url: https://github.com/SUSEdoc/dsc-style-bundle/blob/main/default-ui/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./dsc-style-bundle/supplemental-files/rancher

asciidoc:
  attributes:
    ss-build-type: 'product' # 'community' or 'product'
    stackstate-product-name: "SUSE® Observability"
    page-pagination: ''
    tabs-sync-option: ''
    feature-agent-install-cluster: true  # Key to make it visible/invisible based on "boolean value" or "empty string".
  extensions:
    - '@asciidoctor/tabs'

antora:
  extensions:
    - require: '@antora/lunr-extension'
      index_latest_only: true
    - require: '@sntke/antora-mermaid-extension'
      mermaid_library_url: https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs # <2>
      script_stem: header-scripts # <3>
      mermaid_initialize_options: # <4
    - require: ./product-docs-common/extensions/dynamic-loading-attributes/load-global-site-attributes.js
      attributefile: ./product-docs-common/global-attributes.yml
      enabled: true

output:
  dir: build/site